body{
    background-color: rgb(214, 183, 105);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-color{
    background-color: rgb(221, 207, 172);
}
.navbar-text{
    margin: 0px auto;
    color:blue;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 10px; }
.text{
    color: cornsilk;
}
.text-bg{
    background-color: rgb(218, 189, 117);
    opacity: 80%;
}
.form-rounded {
    border-radius: 1rem;
    }
.search-icon{
    color: cornsilk;
}
.row-header {
    margin-top: 20px;
    
    padding: 0px 0px; 
color: rgb(80, 0, 104);
}
.img-class
    {
        size: 10px 10px 10px 10px;
    }

.header-color{
    background-color: rgb(218, 189, 117); 
  }
.content-color{
    background-color: rgb(221, 207, 172);
  }
.modal-content .modal-body {
    background-color: rgb(218, 189, 117); }
.list-group{
        max-height: 200px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }
    